@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(50deg, #3498db, #27ae60);
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}

.container {
  width: 80vw;
  background: #fff;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
}

.container .img-container {
  display: block;
  width: 40%;
  background-image: url("./images/contact1.jpg");
  background-size: cover;
}

.container .content {
  width: 100%;
  padding: 5%;
}

.container .content h3 {
  margin: 3% 0%;
}

.container .content .tab {
  width: 100%;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .content .tab span {
  cursor: pointer;
  padding: 3%;
  width: 48%;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  background: #e74c3c;
  margin: 0% 1%;
}

.signup {
  display: none;
  top: 0px;
  right: 0px;
  left: 0px;
}

.login form, .signup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 100%;
  position: relative;
}

.login form label, .signup form label {
  padding: 3% 0%;
  color: rgba(0, 0, 0, 0.748);
  font-size: 14px;
}

.login form input, .signup form input {
  padding: 2%;
  outline: none;
  border: 0.5px solid rgba(211, 211, 211, 0.623);
  background: #fafafa;
  border-radius: 3px;
}

.btn {
  padding: 2%;
  border: none;
  background: #fff;
  font-size: 110%;
  width: 50%;
  margin: 0px auto;
}

.btn-main {
  background: #e74c3c;
  color: #fff;
  text-transform: capitalize;
  position: relative;
  z-index: 0;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 3px;
}

.btn-main:hover {
  opacity: 1;
  -webkit-box-shadow: 5px 5px 31px #b8b8b8, -5px -5px 31px #ffffff;
          box-shadow: 5px 5px 31px #b8b8b8, -5px -5px 31px #ffffff;
}

.signup form .dubel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signup form .dubel div {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.signup form .dubel div input {
  padding: 4%;
}

.signup form .dubel div label {
  padding: 6% 0%;
}

.relative {
  position: relative;
}

@media screen and (max-width: 600px) {
  .body {
    height: auto;
    background: #eaecec9a;
  }
  .container .img-container {
    display: none;
  }
  .container .signup form .dubel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .container .signup form .dubel div {
    width: 100%;
  }
  input {
    padding: 4% !important;
  }
}
/*# sourceMappingURL=style.css.map */